# name: Build, Pack, and Publish to GPR

# on:
#   push:
#     branches:
#       - main

# jobs:
#   build:
#     runs-on: ubuntu-latest

#     steps:
#     - name: Checkout code
#       uses: actions/checkout@v3

#     - name: Setup .NET SDK
#       uses: actions/setup-dotnet@v3
#       with:
#         dotnet-version: '7.0.x'

#     - name: Restore dependencies
#       run: dotnet restore

#     - name: Build project
#       run: dotnet build --configuration Release

#     - name: Pack project
#       run: dotnet pack --configuration Release --output ./nupkg

#     - name: Publish to GitHub Packages
#       run: dotnet nuget push ./nupkg/*.nupkg -s https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json -k ${{ secrets.GITHUB_TOKEN }}


# name: TEST

# on:
#   push:
#     branches:
#       - main
# jobs:
#   build:
#     runs-on: ${{ matrix.os }}
#     strategy:
#       matrix:
#         os: [macos-latest, macos-13, ubuntu-latest, windows-latest]
#     steps:
#       - uses: actions/checkout@v5
#       - name: Set up .NET
#         uses: actions/setup-dotnet@v5
#         with:
#            dotnet-version: 8.0.x
      
# jobs:
#   build:
#     runs-on: ubuntu-latest

#     steps:
#     - name: Checkout code
#       uses: actions/checkout@v3

#     - name: Setup .NET SDK
#       uses: actions/setup-dotnet@v4
#       with:
#         dotnet:
#           - version: 8.0.x
#             arch: x64
#           - version: 8.0.x
#             arch: arm64

#     - name: Restore dependencies
#       run: dotnet restore

#     - name: Build project
#       run: dotnet build --configuration Release

#     - name: Pack project
#       run: dotnet pack --configuration Release --output ./nupkg

#     - name: Publish to GitHub Packages
#       run: dotnet nuget push ./nupkg/*.nupkg -s https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json -k ${{ secrets.GITHUB_TOKEN }}

name: arc test
on: 
 push:

jobs:
  Architecture:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
            os: [macos-latest, ubuntu-latest, windows-latest, ubuntu-24.04-arm, windows-11-arm]
            arch: [x64, x86, arm64, amd64, arm, s390x, ppc64le, loongarch64]


    steps:
      - name: Checkout
        uses: actions/checkout@v6
      # - uses: actions/setup-dotnet@v5
      #   with:
      #    dotnet-version: | 
      #             8.0.x
      #             8.0.x
      # - run: dotnet --info

      - uses: lmvysakh/setup-dotnet@support_architecture
        with:
         Architecture : ${{ matrix.arch }}
         dotnet-version: | 
                  6.0.x
              

      - run: dotnet --info
